<h1>Sign Up Form</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placholder="username" />
	<input type="password" name="password" placholder="password" />
	<button>Sign Up</button>
</form>
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Log Out!</a></li>
<li><a href="/secret">Secret Page!</a></li>
