<h1>Secret Page</h1>
<% if(user){ %>
    <p>Hey <%= user.username %></p>
    <% }else { %>
        <p> How Did You Get Here? </p>
    <% }; %>
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Log Out!</a></li>
<li><a href="/secret">Secret Page!</a></li>
